<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Confuser</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="py-5 text-center">
      <h2>Confuser app</h2>
    </div>
    <div class="row mt-5"">
      <form class="form-inline" action="/project/create" method="post" enctype="multipart/form-data">
        <div class="form-group mb-2">
          <label for="file" class="form-label">Upload a packages.json to create new project</label>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <input class="form-control" type="file" name="file" accept=".json">
        </div>
        <input type="submit" class="btn btn-primary"></input>
      </form>
    </div>
    <div class="row mt-3">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Project</th>
            <th scope="col">Description</th>
            <th scope="col">Vulnerable Packages</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for project in projects %}
          <tr>
            <td>{{project['Project'].name}}</h5>
            <td>{{project['Project'].description}}</p>
            <td>{{project['count']}}</td>
            <td><a href="/project/{{project['Project'].id}}" class="btn btn-primary">View</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table> 
    </div>
  </div>
</body>

</html>
