<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Confuser</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{project.name}}</h5>
      <p class="card-text">{{project.description}}</p>
      <a href="/project?id={{project.id}}" class="btn btn-primary">View</a>
    </div>
  </div>

  <div class="list-group">
    {% if packages | length == 0 %}
    <p>No vulnerable packages!</p>
    {% else %} 
      {% for package in packages %}
        <a href="/generate_poc?package={{package}}" class="list-group-item list-group-item-action">{{ package.name }} {{package.version}}</a>
      {% endfor %}
    {% endif %}
</div>

</body>

</html>